BasedOnStyle: LLVM
PointerAlignment: Right
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SortIncludes: true
IncludeBlocks: Regroup
