CompileFlags:
  Add: [
    "-std=c++14",
    "-stdlib=libc++",
    "-Wall",
    "-Wextra",
    "-Werror",
    "-pedantic",
  ]

Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - readability-*
      - performance-*
      - portability-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type

InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
